<%= form_for(@inproceeding) do |f| %>
  <% if @inproceeding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inproceeding.errors.count, "error") %> prohibited this inproceeding from being saved:</h2>

      <ul>
      <% @inproceeding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% [:reference, :author, :title, :booktitle, :editor, :volume, :number, :series, :pages, :address, :organization, :publisher, :year, :month, :note].each do |field| %>
  <div class="field">
    <%= f.label field %><br>
    <%= f.text_field field %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
