<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @inproceeding.reference %>
</p>

<p>
  <strong>Author:</strong>
  <%= @inproceeding.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @inproceeding.title %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @inproceeding.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @inproceeding.editor %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @inproceeding.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @inproceeding.number %>
</p>

<p>
  <strong>Series:</strong>
  <%= @inproceeding.series %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @inproceeding.pages %>
</p>

<p>
  <strong>Address:</strong>
  <%= @inproceeding.address %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @inproceeding.organization %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @inproceeding.publisher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @inproceeding.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @inproceeding.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @inproceeding.note %>
</p>

<%= link_to 'Edit', edit_inproceeding_path(@inproceeding) %> |
<%= link_to 'Back', inproceedings_path %>
