<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @book.reference %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @book.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @book.number %>
</p>

<p>
  <strong>Series:</strong>
  <%= @book.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @book.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @book.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @book.note %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
